/* nav section */
nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

/* end */
/* CSS Overflow visible,
Hidden,
Scroll,
Text-overflow,
Ellipsis */
.overflow-ellipsis {
    border: 1px solid green;
    margin-bottom: 20px;
}

.overflow-ellipsis h1 {
    text-align: center;
}

.overflow-texts {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.short-text {
    width: 200px;
    border: 1px solid rebeccapurple;
    overflow: hidden;

}

.short-text-ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-scroll {
    width: 500px;
    height: 300px;
    border: 1px solid rebeccapurple;
    overflow: scroll;
    overflow-x: hidden;
}

.overflow-others {
    width: 500px;
    height: 300px;
    border: 1px solid rebeccapurple;
    overflow-y: scroll;
}

/* end */
/* Transform Element using rotate scale translate */
.transform-rotate-translate {
    border: 1px solid green;
}

.transform-rotate-translate h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.box,
.inner {
    width: 150px;
    height: 150px;
    border: 1px solid purple;
}

.box {
    background-color: antiquewhite;
}

.inner {
    background-color: palevioletred;
    transform: scale(0.60) rotate(45deg) translateY(50px);
}

/* CSS animation transition */
.animation-transition {
    border: 1px solid green;
    margin: 20px 0;
}

.animation-transition h1 {
    text-align: center;
}

.amination-boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box-animation {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid purple;
    background-color: coral;
    transition: width 3s ease 1s, height 3s ease 1s, transform 1s;
}

.box-animation:hover {
    width: 400px;
    height: 400px;
    transform: rotate(180deg);
}

/* end */
.cricket-animation {
    border: 1px solid green;
}

.cricket-animation h1 {
    text-align: center;
}

.field {
    border: 1px solid;
    padding-bottom: 150px;
}

.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    position: relative;
    left: 512px;
    transition: transform 1s ease-out 0.1s;
}

.field:hover .ball {
    transform: translate(1000px, -200px);
}

/* Login section */
.login-section {
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-container h2 {
    text-align: center
}

.login-container input {
    font-size: 1.5rem;
    padding: 5px 10px;
    margin-top: 1rem;
}

.login-container input[type="submit"] {
    background-color: rgb(245, 102, 102);
    border: 0;
    border-radius: 5px;
    color: #fff;

}

/* my calender */
.title {
    text-align: center;
}

.calender-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    grid-template-rows: 30px repeat(5, 75px);

}

.date,
.other-date,
.day {
    background-color: rgb(181, 234, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    font-weight: bold;
}

.other-date {
    background-color: lightgray;
}

.day {
    font-size: 1em;
    background-color: antiquewhite;
}

/* end */
/* Responsive Website */
.food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.food {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
}

.food img {
    width: 75%;
}

/* media query */

@media screen and (max-width: 576px) {
    .food-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .food-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* my responsive website */
body {
    border: 1px solid plum;
    max-width: 980px;
    margin: 0 auto;
}

.title-tiger {
    font-size: 4vw;
    text-align: center;
}

.tiger img {
    width: 100%;
}

.part-two {
    display: flex;
}

.part-two .split {
    width: 50%;
}

.split img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .part-two {
        flex-direction: column-reverse;
    }

    .part-two .split {
        width: 100%;
    }
}